/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/public/robots.txt
/public/storage/
/public/packages/
/public/storage/*
CONTRIBUTING.md
.idea
.idea/
.idea/*
/app/views/emails/templates/*
/app/routes_dev.php
/app/config/database.php
/app/config/session.php


