@media screen and (max-width: 1599px)
  .header
    .nav_main
      &.fixed
        margin-left: -50%

@media screen and (max-width: 1499px)
  .header
    .nav_right
      margin-right: 75px
      a, span
        padding-left: 0
        padding-right: 0
    .nav_main
      .nav_links
        right: 270px
@media screen and (max-width: 1399px)
  .header
    .nav_right
      .vr
        margin-left: 0
        margin-right: 0
    .a_club
      margin-left: -100px

@media screen and (max-height: 759px)
  .deposit_page_intro
    .form
      .field
        &.field_duration
          float: left
          width: 48%
        &.field_batch
          float: right
          width: 48%
    .slider_info
      .slider_header
        padding-top: 30px
        padding-bottom: 30px
      p
        margin-top: 20px
      .hr
        margin: 20px 0
      table
        td
          padding: 5px 0

@media screen and (max-width: 1399px)
  .page_business_catalog
    .business_catalog_list
      .business_name
        p
          letter-spacing -4px
      .business_text
        p
          letter-spacing: -2px
      .business_description
        p
          line-height: 22px

@media screen and (max-width: 1339px)
  .page_map
    .atms_block
      .max_width
        width: 1120px


@media print
  /*body
    -webkit-print-color-adjust: exact*/
  .nav_sidebar
  .header
  .footer
  img
    display: none !important
  .wrapper
    min-width 1000px
    width: 1000px


