@font-face {
  font-family: 'GothamPro';
  src: url('fonts/GothaProReg.eot');
  src: url('fonts/GothaProReg.woff') format('woff'), url('fonts/GothaProReg.ttf') format('truetype'), url('fonts/GothaProReg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url('fonts/GothaProIta.eot');
  src: url('fonts/GothaProIta.woff') format('woff'), url('fonts/GothaProIta.ttf') format('truetype'), url('fonts/GothaProIta.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'GothamPro';
  src: url('fonts/GothaProLig.eot');
  src: url('fonts/GothaProLig.woff') format('woff'), url('fonts/GothaProLig.ttf') format('truetype'), url('fonts/GothaProLig.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url('fonts/GothaProLigIta.eot');
  src: url('fonts/GothaProLigIta.woff') format('woff'), url('fonts/GothaProLigIta.ttf') format('truetype'), url('fonts/GothaProLigIta.svg') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'GothamPro';
  src: url('fonts/GothaProBol.eot');
  src: url('fonts/GothaProBol.woff') format('woff'), url('fonts/GothaProBol.ttf') format('truetype'), url('fonts/GothaProBol.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url('fonts/GothaProBolIta.eot');
  src: url('fonts/GothaProBolIta.woff') format('woff'), url('fonts/GothaProBolIta.ttf') format('truetype'), url('fonts/GothaProBolIta.svg') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'GothamPro';
  src: url('fonts/GothaProMed.eot');
  src: url('fonts/GothaProMed.woff') format('woff'), url('fonts/GothaProMed.ttf') format('truetype'), url('fonts/GothaProMed.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url('fonts/GothaProBla.eot');
  src: url('fonts/GothaProBla.woff') format('woff'), url('fonts/GothaProBla.ttf') format('truetype'), url('fonts/GothaProBla.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url('fonts/GothaProBlaIta.eot');
  src: url('fonts/GothaProBlaIta.woff') format('woff'), url('fonts/GothaProBlaIta.ttf') format('truetype'), url('fonts/GothaProBlaIta.svg') format('svg');
  font-weight: 900;
  font-style: italic;
}
